@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm w-full py-2 px-3 mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply bg-gray-100;
}

h1 {
  @apply text-purple-500 mb-4 text-xl;
}

label {
  @apply text-gray-600 text-sm;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic tr td {
  @apply px-3 py-4;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-6 py-4;
}
